@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  animation: gradient 15s ease infinite;
  display: flex;
}

/* Context Menu styles */
.menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}

.module-container {
  margin: auto;
}

/* Game of Life Module styles */
#worldgrid {
  margin: auto;
}

.world {
  padding-bottom: 5px;
}

.world__table {
  background-color: whitesmoke;
  background-color: white;
}

.cell {
  border: 1px solid darkgray;
  width: 25px;
  height: 25px;
}
td.dead {
  background-color: transparent;
}
td.alive {
  background-color: #2971b4;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* GuessNumber Module styles */
.guess-container {
  background: black !important;
  font-family: "Consolas", monospace;
  color: rgba(0, 255, 0, 1);
  margin: auto;
  padding: 20px;
  border: solid rgba(0, 255, 0, 1);
}

.guess-container li {
  font-size: 16px;
}

.guess-header {
  color: #0f0;
}

.output {
  margin: 0;
  padding: 0;
  list-style: none;
}

.output .user {
  color: rgba(0, 255, 0, 1);
  font-weight: bold;
}

.prompt {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.prompt input {
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  color: #0f0;
  padding: 1rem 0.5rem;
  font-size: inherit;
  font-family: "Consolas", monospace;
  position: relative;
}

.prompt::before {
  content: "> ";
}

/* MemoryGame Module styles */
.memory-game {
  height: 100vh;
  display: flex;
  background: #818181;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  align-items: center;
  justify-content: center;
}

.memory-header {
  text-align: center;
  margin-bottom: 20px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #dadada;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
